# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyd
*.so
*.dll

# Virtual environments
venv/
env/
ENV/
.venv/
model/venv/


# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode
.vscode/

# macOS
.DS_Store

# Logs and temp files
*.log
*.tmp

# Dataset / large files
data/
*.zip
*.tar
